In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 100)

In [5]:
custody_df = pd.read_csv("../data/CUSTODY_Dividend_bookings 1.csv", sep=";")
NBIM_df = pd.read_csv("../data/NBIM_Dividend_bookings 1.csv", sep=";")

In [6]:
custody_df[custody_df["COAC_EVENT_KEY"] == 950123456].transpose()

                                            0
COAC_EVENT_KEY                      950123456
ISIN                             US0378331005
EVENT_EX_DATE                      07.02.2025
EVENT_PAYMENT_DATE                 14.02.2025
CUSTODY                             501234567
SEDOL                                 2046251
CUSTODIAN                     CUST/JPMORGANUS
EVENT_TYPE                               DVCA
NOMINAL_BASIS                         1500000
LOAN_QUANTITY                               0
HOLDING_QUANTITY                      1500000
LENDING_PERCENTAGE                          0
BANK_ACCOUNTS                       501234567
EX_DATE                            07.02.2025
RECORD_DATE                        08.02.2025
PAY_DATE                           14.02.2025
CURRENCIES                                USD
DIV_RATE                                 0.25
TAX_RATE                                   15
GROSS_AMOUNT                           375000
NET_AMOUNT_QC                          318750
TAX                                     56250
NET_AMOUNT_SC                        318750.0
SETTLED_CURRENCY                          USD
IS_CROSS_CURRENCY_REVERSAL              False
FX_RATE                                   1.0
POSSIBLE_RESTITUTION_PAYMENT                0
POSSIBLE_RESTITUTION_AMOUNT                 0
ADR_FEE                                     0
ADR_FEE_RATE                                0

In [7]:
NBIM_df[NBIM_df["COAC_EVENT_KEY"] == 950123456].transpose()

                                                 0
COAC_EVENT_KEY                           950123456
INSTRUMENT_DESCRIPTION                   APPLE INC
ISIN                                  US0378331005
SEDOL                                      2046251
TICKER                                        AAPL
ORGANISATION_NAME                        Apple Inc
DIVIDENDS_PER_SHARE                           0.25
EXDATE                                  07.02.2025
PAYMENT_DATE                            14.02.2025
CUSTODIAN                           JPMORGAN_CHASE
BANK_ACCOUNT                             501234567
QUOTATION_CURRENCY                             USD
SETTLEMENT_CURRENCY                            USD
AVG_FX_RATE_QUOTATION_TO_PORTFOLIO         11.2345
NOMINAL_BASIS                              1500000
GROSS_AMOUNT_QUOTATION                      375000
NET_AMOUNT_QUOTATION                        318750
NET_AMOUNT_SETTLEMENT                     318750.0
GROSS_AMOUNT_PORTFOLIO                   4212937.5
NET_AMOUNT_PORTFOLIO                    3580996.88
WTHTAX_COST_QUOTATION                        56250
WTHTAX_COST_SETTLEMENT                     56250.0
WTHTAX_COST_PORTFOLIO                    631940.63
WTHTAX_RATE                                     15
LOCALTAX_COST_QUOTATION                          0
LOCALTAX_COST_SETTLEMENT                       0.0
TOTAL_TAX_RATE                                  15
EXRESPRDIV_COST_QUOTATION                        0
EXRESPRDIV_COST_SETTLEMENT                       0
RESTITUTION_RATE                                 0

In [8]:
# Map columns that have the same meaning but different names
column_mapping = {
    "COAC_EVENT_KEY": "COAC_EVENT_KEY",
    "ISIN": "ISIN",
    "SEDOL": "SEDOL",
    "NOMINAL_BASIS": "NOMINAL_BASIS",
    "GROSS_AMOUNT": "GROSS_AMOUNT_QUOTATION",
    "NET_AMOUNT_QC": "NET_AMOUNT_QUOTATION",
    "NET_AMOUNT_SC": "NET_AMOUNT_SETTLEMENT",
    "TAX": "WTHTAX_COST_QUOTATION",
    "TAX_RATE": "WTHTAX_RATE",
    "DIV_RATE": "DIVIDENDS_PER_SHARE",
    "EX_DATE": "EXDATE",
    "PAY_DATE": "PAYMENT_DATE",
    "CUSTODY": "BANK_ACCOUNT",
    "SETTLED_CURRENCY": "SETTLEMENT_CURRENCY",
    # Add more mappings as needed
}

# Find shared columns (by mapping)
shared_cols_custody = []
shared_cols_nbim = []
for c_custody, c_nbim in column_mapping.items():
    if c_custody in custody_df.columns and c_nbim in NBIM_df.columns:
        shared_cols_custody.append(c_custody)
        shared_cols_nbim.append(c_nbim)

# Merge on COAC_EVENT_KEY to align events
merged = pd.merge(
    custody_df,
    NBIM_df,
    left_on="COAC_EVENT_KEY",
    right_on="COAC_EVENT_KEY",
    suffixes=("_custody", "_nbim"),
    how="outer",
    indicator=True
)

# For each shared column, compare values and report inconsistencies
inconsistencies = []

for c_custody, c_nbim in zip(shared_cols_custody, shared_cols_nbim):
    col_custody = c_custody + "_custody" if c_custody != "COAC_EVENT_KEY" else c_custody
    col_nbim = c_nbim + "_nbim" if c_nbim != "COAC_EVENT_KEY" else c_nbim

    if col_custody not in merged.columns or col_nbim not in merged.columns:
        continue

    # Compare values (handle NaNs and floats)
    for idx, row in merged.iterrows():
        val_custody = row[col_custody]
        val_nbim = row[col_nbim]
        # Use np.isclose for floats, else direct comparison
        if pd.isnull(val_custody) and pd.isnull(val_nbim):
            continue
        elif pd.isnull(val_custody) or pd.isnull(val_nbim):
            inconsistencies.append({
                "COAC_EVENT_KEY": row["COAC_EVENT_KEY"],
                "Column_Custody": c_custody,
                "Value_Custody": val_custody,
                "Column_NBIM": c_nbim,
                "Value_NBIM": val_nbim,
                "Reason": "Value missing in one dataframe"
            })
        else:
            # Try float comparison if possible
            try:
                if np.issubdtype(type(val_custody), np.number) or np.issubdtype(type(val_nbim), np.number):
                    if not np.isclose(float(val_custody), float(val_nbim), atol=1e-2, equal_nan=True):
                        inconsistencies.append({
                            "COAC_EVENT_KEY": row["COAC_EVENT_KEY"],
                            "Column_Custody": c_custody,
                            "Value_Custody": val_custody,
                            "Column_NBIM": c_nbim,
                            "Value_NBIM": val_nbim,
                            "Reason": "Numeric mismatch"
                        })
                else:
                    if str(val_custody).strip() != str(val_nbim).strip():
                        inconsistencies.append({
                            "COAC_EVENT_KEY": row["COAC_EVENT_KEY"],
                            "Column_Custody": c_custody,
                            "Value_Custody": val_custody,
                            "Column_NBIM": c_nbim,
                            "Value_NBIM": val_nbim,
                            "Reason": "String mismatch"
                        })
            except Exception as e:
                if str(val_custody).strip() != str(val_nbim).strip():
                    inconsistencies.append({
                        "COAC_EVENT_KEY": row["COAC_EVENT_KEY"],
                        "Column_Custody": c_custody,
                        "Value_Custody": val_custody,
                        "Column_NBIM": c_nbim,
                        "Value_NBIM": val_nbim,
                        "Reason": f"Comparison error: {e}"
                    })

# Display inconsistencies as a DataFrame
inconsistencies_df = pd.DataFrame(inconsistencies)
if not inconsistencies_df.empty:
    display(inconsistencies_df)
else:
    print("No inconsistencies found in shared columns.")

,COAC_EVENT_KEY,Column_Custody,Value_Custody,Column_NBIM,Value_NBIM,Reason
0,970456789,NOMINAL_BASIS,20000,NOMINAL_BASIS,15000,Numeric mismatch
1,970456789,NOMINAL_BASIS,20000,NOMINAL_BASIS,10000,Numeric mismatch
2,970456789,NOMINAL_BASIS,30000,NOMINAL_BASIS,20000,Numeric mismatch
3,970456789,NOMINAL_BASIS,30000,NOMINAL_BASIS,15000,Numeric mismatch
4,970456789,NOMINAL_BASIS,30000,NOMINAL_BASIS,10000,Numeric mismatch
5,970456789,NOMINAL_BASIS,10000,NOMINAL_BASIS,20000,Numeric mismatch
6,970456789,NOMINAL_BASIS,10000,NOMINAL_BASIS,15000,Numeric mismatch

In [9]:
# Assume column_mapping is defined above as a dict: {custody_col: nbim_col}
# If not, you may need to define it based on your join logic.
analysis_key = 960789012

# Select the row for COAC_EVENT_KEY == 950123456 from each DataFrame
row_custody = custody_df[custody_df["COAC_EVENT_KEY"] == analysis_key]
row_nbim = NBIM_df[NBIM_df["COAC_EVENT_KEY"] == analysis_key]

# If multiple rows, take the first (should only be one for this event)
row_custody = row_custody.iloc[0] if not row_custody.empty else pd.Series(dtype=object)
row_nbim = row_nbim.iloc[0] if not row_nbim.empty else pd.Series(dtype=object)

# Build reverse mapping for NBIM -> Custody
reverse_column_mapping = {v: k for k, v in column_mapping.items() if v is not None}

# Get all unique fields from both sources
fields_custody = set(row_custody.index)
fields_nbim = set(row_nbim.index)
all_fields = sorted(fields_custody.union(fields_nbim))

data = []
for field in all_fields:
    # Determine mapping
    if field in column_mapping:
        mapped_field = column_mapping[field]
        mapping_type = "Custody"
    elif field in reverse_column_mapping:
        mapped_field = reverse_column_mapping[field]
        mapping_type = "NBIM"
    else:
        mapped_field = None
        mapping_type = None

    # Get values
    if mapping_type == "Custody":
        val_custody = row_custody[field] if field in row_custody else None
        val_nbim = row_nbim[mapped_field] if mapped_field in row_nbim else None if mapped_field else None
        other_column = mapped_field if mapped_field != field else None
    elif mapping_type == "NBIM":
        val_custody = row_custody[mapped_field] if mapped_field in row_custody else None if mapped_field else None
        val_nbim = row_nbim[field] if field in row_nbim else None
        other_column = mapped_field if mapped_field != field else None
    else:
        val_custody = row_custody[field] if field in row_custody else None
        val_nbim = row_nbim[field] if field in row_nbim else None
        other_column = None

    # For comparison, treat both as string for simplicity, but handle None
    identical = (val_custody == val_nbim) if (val_custody is not None and val_nbim is not None) else True
    data.append([field, val_custody, val_nbim, identical, other_column])

df_compare = pd.DataFrame(data, columns=["Field", "Custody", "NBIM", "Identical", "Other_Column"])
display(df_compare)

,Field,Custody,NBIM,Identical,Other_Column
0,ADR_FEE,0,None,True,None
1,ADR_FEE_RATE,0,None,True,None
2,AVG_FX_RATE_QUOTATION_TO_PORTFOLIO,None,0.008234,True,None
3,BANK_ACCOUNT,712345678,712345678,True,CUSTODY
4,BANK_ACCOUNTS,712345678,None,True,None
5,COAC_EVENT_KEY,960789012,960789012,True,None
6,CURRENCIES,KRW USD,None,True,None
7,CUSTODIAN,CUST/HSBCKR,HSBC_KOREA,False,None
8,CUSTODY,712345678,712345678,True,BANK_ACCOUNT
9,DIVIDENDS_PER_SHARE,361.0,361.0,True,DIV_RATE
10,DIV_RATE,361.0,361.0,True,DIVIDENDS_PER_SHARE
11,EVENT_EX_DATE,31.03.2025,None,True,None
12,EVENT_PAYMENT_DATE,20.05.2025,None,True,None
13,EVENT_TYPE,DVCA,None,True,None
14,EXDATE,31.03.2025,31.03.2025,True,EX_DATE
15,EXRESPRDIV_COST_QUOTATION,None,0,True,None
16,EXRESPRDIV_COST_SETTLEMENT,None,0,True,None
17,EX_DATE,31.03.2025,31.03.2025,True,EXDATE
18,FX_RATE,1307.25,None,True,None
19,GROSS_AMOUNT,9025000,9025000,True,GROSS_AMOUNT_QUOTATION
20,GROSS_AMOUNT_PORTFOLIO,None,74311.85,True,None
21,GROSS_AMOUNT_QUOTATION,9025000,9025000,True,GROSS_AMOUNT
22,HOLDING_QUANTITY,23000,None,True,None
23,INSTRUMENT_DESCRIPTION,None,SAMSUNG ELECTRONICS CO LTD,True,None
24,ISIN,KR7005930003,KR7005930003,True,None
25,IS_CROSS_CURRENCY_REVERSAL,True,None,True,None
26,LENDING_PERCENTAGE,8,None,True,None
27,LOAN_QUANTITY,2000,None,True,None
28,LOCALTAX_COST_QUOTATION,None,269550,True,None
29,LOCALTAX_COST_SETTLEMENT,None,206.26,True,None
30,NET_AMOUNT_PORTFOLIO,None,55738.63,True,None
31,NET_AMOUNT_QC,7220000,6769950,False,NET_AMOUNT_QUOTATION
32,NET_AMOUNT_QUOTATION,7220000,6769950,False,NET_AMOUNT_QC
33,NET_AMOUNT_SC,5524.27,5181.5,False,NET_AMOUNT_SETTLEMENT
34,NET_AMOUNT_SETTLEMENT,5524.27,5181.5,False,NET_AMOUNT_SC
35,NOMINAL_BASIS,25000,25000,True,None
36,ORGANISATION_NAME,None,Samsung Electronics Co Ltd,True,None
37,PAYMENT_DATE,25.05.2025,20.05.2025,False,PAY_DATE
38,PAY_DATE,25.05.2025,20.05.2025,False,PAYMENT_DATE
39,POSSIBLE_RESTITUTION_AMOUNT,0,None,True,None
40,POSSIBLE_RESTITUTION_PAYMENT,0,None,True,None
41,QUOTATION_CURRENCY,None,KRW,True,None
42,RECORD_DATE,01.04.2025,None,True,None
43,RESTITUTION_RATE,None,0,True,None
44,SEDOL,6771720,6771720,True,None
45,SETTLED_CURRENCY,USD,USD,True,SETTLEMENT_CURRENCY
46,SETTLEMENT_CURRENCY,USD,USD,True,SETTLED_CURRENCY
47,TAX,1805000,1985500,False,WTHTAX_COST_QUOTATION
48,TAX_RATE,20,22,False,WTHTAX_RATE
49,TICKER,None,005930 KS,True,None
50,TOTAL_TAX_RATE,None,25,True,None
51,WTHTAX_COST_PORTFOLIO,None,16348.61,True,None
52,WTHTAX_COST_QUOTATION,1805000,1985500,False,TAX
53,WTHTAX_COST_SETTLEMENT,None,1519.53,True,None
54,WTHTAX_RATE,20,22,False,TAX_RATE